body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fbfdfd !important;
    /*background: #b0d9f8 !important;*/
    /*background: #60a3bc !important;*/
}
.user_card {
    height: 450px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #808080 ;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #e5e4e2;
    padding: 10px;
    text-align: center;
}

.form_container {
    margin-top: 80px;
}

.form_control {
    width: 1000px;
}

.logo {
    width: 7rem;
    padding-top: 1.5rem;
}

.login_btn {
    width: 100%;
    background: #e5e4e2 !important;
    color: rgb(83, 83, 83) !important;
    padding-top: 0.5rem;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 1 2rem;
}
.input-group-text {
    background: #e5e4e2 !important;
    color: rgb(83, 83, 83) !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #e5e4e2 !important;
}

#sign_up {
    color: beige;
}